---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Sectionhead from "@components/SectionHead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Acerca de nosotros</Fragment>
      <Fragment slot="desc"
        >Aquí sabrás ¿Quienes somos? ¿Qué hacemos? Y nuestra visión a futuro</Fragment
      >
    </Sectionhead>

    <section class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800 dark:text-white">
        ¿Quiénes somos?
      </h2>
      <p class="text-lg leading-relaxed text-slate-500 dark:text-gray-400">
        AAPLUS+ es un centro de apoyo académico innovador y comprometido con el
        éxito educativo de nuestros estudiantes. Fundada con la visión de
        ofrecer servicios de alta calidad y adaptados a las necesidades actuales
        del mercado, AAPLUS+ se ha convertido en un referente para aquellos que
        buscan avanzar en su formación técnica y académica. Contamos con un
        equipo de profesionales experimentados que están dedicados a
        proporcionar una educación personalizada y eficaz.
      </p>
    </section>

    <section class="flex flex-col gap-3 mx-auto max-w-4xl mt-16 text-center">
      <h2 class="font-bold text-3xl text-gray-800 dark:text-white">
        ¿Qué hacemos?
      </h2>
      <p class="text-lg leading-relaxed text-slate-500 dark:text-gray-400">
        En AAPLUS+, brindamos una amplia gama de servicios educativos que
        incluyen cursos técnicos y administrativos, apoyo académico integral en
        todos los niveles, y asesoría especializada en el desarrollo de tesis.
        Nos enfocamos en proporcionar las herramientas y conocimientos
        necesarios para que nuestros estudiantes puedan alcanzar sus metas
        académicas y profesionales. Además, nuestros programas están avalados
        por entidades reconocidas, asegurando que la formación recibida tenga un
        impacto significativo en la carrera de nuestros estudiantes.
      </p>
    </section>

    <section class="flex gap-4 flex-col md:flex-row">
      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
        <h2 class="font-bold text-3xl text-gray-800 dark:text-white">Visión</h2>
        <p class="text-lg leading-relaxed text-slate-500 dark:text-gray-400">
          Nuestra visión es convertirnos en el centro de apoyo académico líder a
          nivel nacional, reconocido por la excelencia de nuestros servicios y
          el impacto positivo que generamos en la vida de nuestros estudiantes.
          Aspiramos a ser la primera opción para quienes buscan formación
          técnica y académica de calidad, contribuyendo al crecimiento
          profesional y personal de cada uno de nuestros estudiantes, y
          preparándolos para enfrentar con éxito los desafíos del mundo laboral
          actual.
        </p>
      </div>
      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
        <h2 class="font-bold text-3xl text-gray-800 dark:text-white">Misión</h2>
        <p class="text-lg leading-relaxed text-slate-500 dark:text-gray-400">
          Nuestra misión en AAPLUS+ es potenciar el desarrollo académico y
          profesional de nuestros estudiantes mediante la oferta de servicios
          educativos de alta calidad, personalizados e innovadores. Nos
          comprometemos a acompañar a cada estudiante en su camino hacia el
          éxito, proporcionando las herramientas, conocimientos y apoyo
          necesarios para que puedan alcanzar sus objetivos en un entorno
          competitivo y en constante evolución.
        </p>
      </div>
    </section>

    <!-- <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800 dark:text-white">
                {teamMemberEntry.data.name}
              </h2>
              <h3 class="text-sm text-slate-500 dark:text-gray-400">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div> -->
  </Container>
</Layout>
