---
import Container from "@components/Container.astro";
import Sectionhead from "@components/SectionHead.astro";
import Layout from "@layouts/Layout.astro";
import CheckIcon from "@components/ui/icons/Check.astro";
import List from "@components/ui/Lists/List.astro";
import Item from "@components/ui/Lists/Item.astro";
import Badge from "@components/ui/Badge.astro";
import Title from "@components/ui/Title.astro";
import Certificate from "@components/ui/icons/Certificate.astro";
import Link from "@components/ui/Link.astro";
import { COURSES } from "consts/courses";
import SearchWidget from "@components/SearchWidget.astro";
import Card from "@components/ui/Courses/Card.astro";
import HandleSearch from "../utils/HandleSearch";
---

<Layout title="Servicios">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Servicios</Fragment>
      <Fragment slot="desc">Conoce nuestra oferta académica.</Fragment>
    </Sectionhead>

    <section
      class="bg-gray-50 dark:bg-gray-800 rounded-tr-3xl rounded-bl-3xl mt-4 relative mb-6">
      <Certificate
        extraClassName="w-20 h-20 absolute block -translate-x-1/3 -translate-y-1/3 -rotate-45"
      />
      <article class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="">
          <Title
            tag="h2"
            size="4xl"
            extraClassName="flex items-center gap-2 flex-wrap"
            title="Convenio con Universidad Yacambú">
            <Badge
              size="xs"
              color="blue"
              slot="after"
              bordered={true}
              pill={true}>IMPORTANTE</Badge
            >
          </Title>
          <p
            class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Hemos establecido un convenio estratégico con la prestigiosa
            Universidad Venezolana Yacambú, diseñado para ofrecer a nuestros
            estudiantes y profesionales una oportunidad única de crecimiento
            académico y profesional.
            <br />
            Este convenio se centra en facilitar a los tecnólogos el avance del tercer
            nivel al cuarto nivel de grado, permitiéndoles acceder a especializaciones
            y, posteriormente, a maestrías profesionales de grado.
          </p>
          <Title tag="h3" size="2xl" title="Beneficios clave del convenio" />
          <div
            class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="sm:hidden">
              <label for="tabs" class="sr-only">Select tab</label>
              <select
                id="tabs"
                class="bg-gray-50 border-0 border-b border-gray-200 text-gray-900 text-sm rounded-t-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option>Avance Académico</option>
                <option>Aval de Cursos</option>
                <option>Validación de Experiencia</option>
              </select>
            </div>
            <ul
              class="hidden text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg sm:flex dark:divide-gray-600 dark:text-gray-400 rtl:divide-x-reverse"
              id="fullWidthTab"
              data-tabs-toggle="#fullWidthTabContent"
              role="tablist">
              <li class="w-full">
                <button
                  id="stats-tab"
                  data-tabs-target="#stats"
                  type="button"
                  role="tab"
                  aria-controls="stats"
                  aria-selected="true"
                  class="inline-block w-full p-4 rounded-ss-lg bg-gray-50 hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600"
                  >Avance Académico</button
                >
              </li>
              <li class="w-full">
                <button
                  id="about-tab"
                  data-tabs-target="#about"
                  type="button"
                  role="tab"
                  aria-controls="about"
                  aria-selected="false"
                  class="inline-block w-full p-4 bg-gray-50 hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600"
                  >Aval de Cursos</button
                >
              </li>
              <li class="w-full">
                <button
                  id="faq-tab"
                  data-tabs-target="#faq"
                  type="button"
                  role="tab"
                  aria-controls="faq"
                  aria-selected="false"
                  class="inline-block w-full p-4 rounded-se-lg bg-gray-50 hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600"
                  >Validación de Experiencia</button
                >
              </li>
            </ul>
            <section
              id="fullWidthTabContent"
              class="border-t border-gray-200 dark:border-gray-600">
              <div
                class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800"
                id="stats"
                role="tabpanel"
                aria-labelledby="stats-tab">
                <div class="flex gap-4 justify-between flex-wrap">
                  <List title="Especialización">
                    <CheckIcon slot="icon" />
                    <Item>
                      Los tecnólogos pueden avanzar del tercer al cuarto nivel
                      de grado a través de programas de especialización,
                      abriendo la puerta a nuevas oportunidades académicas y
                      profesionales.
                    </Item>
                  </List>

                  <List title="Maestrías Profesionales">
                    <CheckIcon slot="icon" />
                    <Item>
                      Con este avance, los tecnólogos están habilitados para
                      inscribirse en maestrías profesionales de grado, lo que
                      les permite obtener títulos de 4to. nivel con
                      reconocimiento internacional.
                    </Item>
                  </List>
                </div>
              </div>
              <div
                class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800"
                id="about"
                role="tabpanel"
                aria-labelledby="about-tab">
                <div class="flex gap-4 justify-between flex-wrap">
                  <List title="Cursos Avalados">
                    <CheckIcon slot="icon" />
                    <Item>
                      Todos los cursos ofrecidos por AAPLUS+ cuentan con el
                      respaldo y aval de la Universidad Venezolana Yacambú, lo
                      que garantiza la calidad y validez de la formación
                      recibida.
                    </Item>
                  </List>
                  <List title="Reconocimiento Académico">
                    <CheckIcon slot="icon" />
                    <Item>
                      Este aval no solo refuerza la confianza en nuestros
                      programas educativos, sino que también asegura que los
                      títulos obtenidos sean ampliamente reconocidos y
                      valorados.
                    </Item>
                  </List>
                </div>
              </div>
              <div
                class="hidden p-4 bg-white rounded-lg dark:bg-gray-800"
                id="faq"
                role="tabpanel"
                aria-labelledby="faq-tab">
                <div class="flex gap-4 justify-between flex-wrap">
                  <List title="Profesionalización de la Experiencia">
                    <CheckIcon slot="icon" />
                    <Item>
                      A través del convenio, AAPLUS+ y la Universidad Yacambú
                      ofrecen la posibilidad de validar la experiencia
                      profesional de los interesados, transformándola en títulos
                      académicos reconocidos.
                    </Item>
                  </List>
                  <List title="Certificación Oficial">
                    <CheckIcon slot="icon" />
                    <Item>
                      Esta validación y profesionalización se realiza con el
                      aval de la Secretaría Nacional de Educación Superior,
                      Ciencia, Tecnología e Innovación (Senescyt) y el Consejo
                      de Educación Superior (CES), garantizando su legitimidad y
                      reconocimiento en el ámbito laboral.
                    </Item>
                  </List>
                </div>
              </div>
            </section>
          </div>
        </div>
      </article>
    </section>

    <!-- Services -->
    <section
      class="bg-gray-50 dark:bg-gray-900 rounded-tl-3xl rounded-br-3xl mb-6">
      <p
        class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400 text-center p-4">
        Si necesitas...
      </p>
      <div
        class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-8 lg:px-6">
        <div class="mt-4 md:mt-0">
          <Title tag="h3" size="4xl" title="Capacitación" />
          <List extraClassName="ml-4 mb-6">
            <Title tag="h4" margin="mb-2" title="Cursos Especializados" />
            <Item>
              Ofrecemos una amplia gama de cursos especializados que están
              diseñados para facilitar el avance académico de los tecnólogos,
              desde el tercer hasta el cuarto nivel de grado.
            </Item>
            <Title
              tag="h4"
              margin="mb-2"
              title="Programas de Formación Continua"
            />
            <Item>
              Estos programas están alineados con las demandas del mercado
              laboral y cuentan con el respaldo del convenio, asegurando una
              formación de alta calidad.
            </Item>
          </List>
          <Link
            href="https://wa.me/593978621123/?text=*Desde la web* \n\nHola quisiera saber más acerca del servicio de *Capacitación*."
            target="_blank"
            style="primary">Contactar por Capacitación</Link
          >
        </div>
        <div class="mt-4 md:mt-0">
          <Title tag="h3" size="4xl" title="Apoyo académico" />
          <List extraClassName="ml-4 mb-6">
            <Title tag="h4" margin="mb-2" title="Asesoría Personalizada" />
            <Item>
              Proporcionamos asesoría académica a nuestros estudiantes para
              guiarlos en su proceso de especialización y maestría, asegurando
              que cada paso esté alineado con sus metas profesionales.
            </Item>
            <Title tag="h4" margin="mb-2" title="Validación de Competencias" />
            <Item>
              A través del convenio, ofrecemos servicios de validación de
              competencias adquiridas en la experiencia laboral, facilitando la
              obtención de títulos académicos reconocidos.
            </Item>
          </List>
          <Link
            href="https://wa.me/593978621123/?text=*Desde la web* \n\nHola quisiera saber más acerca del servicio de *Asesoría personalizada*"
            target="_blank"
            style="inverted">Contactar por Asesoría</Link
          >
        </div>
      </div>
    </section>

    <!-- Courses -->
    <section class="mb-4 p-4 flex flex-col">
      <Title tag="h2" size="4xl" margin="my-6" title="Conoce nuestros cursos" />
      <SearchWidget />
      <p id="searchReadout" class="text-center my-2"></p>

      <article
        class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4 p-4"
        id="coursesContainer">
        {
          COURSES.map((course, idx) => {
            return <Card course={course} />;
          })
        }
      </article>
    </section>
  </Container>
</Layout>

<HandleSearch client:only />
