---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Cursos Técnicos y Administrativos",
    description:
      "Ofrecemos una variedad de cursos especializados en áreas técnicas y administrativas, adaptados a las necesidades del mercado laboral actual",
    icon: "certificate",
  },
  {
    title: "Apoyo Académico Integral",
    description:
      "Brindamos asistencia académica personalizada a estudiantes de todos los niveles, ayudándoles con asesorías para con sus tareas, exámenes, investigaciones, y más.",
    icon: "bx:bxs-data",
  },
  {
    title: "Asesoría y Desarrollo de Tesis",
    description:
      "Asesoría especializada y personalizada en la elaboración de tesis, garantizando un trabajo de calidad y con un enfoque metodológico sólido.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Eventos y Talleres Especializados",
    description:
      "Organizamos talleres, seminarios y eventos educativos diseñados para complementar la formación de nuestros estudiantes.",
    icon: "calendar-event",
  },
  {
    title: "Plataforma de Recursos y Materiales Educativos",
    description:
      "Ofrecemos acceso a una plataforma en línea donde los estudiantes pueden encontrar recursos educativos como guías, videos, y otros materiales de estudio.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Comunidad",
    description:
      "Nuestro equipo está conformado por personal capacitado y amigable, será nuestra prioridad responder tu dudas y ayudarte a ser la mejor versión de ti.",
    icon: "bx:bxs-user",
  },
];
---

<section class="">
  <div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Todo lo que necesitas y nosotros podemos dar.
    </h2>
    <p class="text-lg mt-4 text-slate-600 dark:text-gray-300">
      En AAplus nos enorgullecemos de ofrecer una amplia gama de <strong
        >servicios</strong
      >
      educativos diseñados para satisfacer las necesidades de nuestros estudiantes
      y ayudarles a alcanzar sus metas académicas y profesionales.
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-blue-600 rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed dark:text-gray-400">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</section>
