---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Tu éxito es nuestra MISIÓN
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl dark:text-gray-300">
      AAPLUS es un centro de apoyo académico innovador y comprometido con el
      éxito educativo de nuestros estudiantes. Fundada con la visión de ofrecer
      servicios de alta calidad y adaptados a las necesidades actuales del
      mercado, AAPLUS se ha convertido en un referente para aquellos que buscan
      avanzar en su formación técnica y académica. Contamos con un equipo de
      profesionales experimentados que están dedicados a proporcionar una
      educación personalizada y eficaz.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center text-white bg-green-700 hover:bg-green-800"
        rel="noopener">
        <Icon name="whatsapp" />
        Contáctanos
      </Link>
    </div>
  </div>
</main>
